@{
    ViewBag.Title = "Digital Art Gallery";
}
<script src="/Scripts/gallery-search.js"></script>
<style>
    #slideshow-start {
        cursor: pointer;
    }
</style>
<h1>Digital Art Gallery</h1>
<div>
    <div class="input-form form-group row">
        <label for="siteSelection" class="col-sm-1 col-form-label">Site</label>
        <div class="col-sm-11">
            <select id="siteSelection" class="form-control">
                <option value="http://www.the-athenaeum.org">https://www.the-athenaeum.org</option>
                <option value="http://images.nga.gov">https://images.nga.gov</option>
            </select>
        </div>
    </div>
    <div class="input-form form-group row">
        <label for="likeSearchText" class="col-sm-3 col-form-label">Search by Like Artist</label>
        <div class="col-sm-9 search-group">
            <input id="likeSearchText" type="text" value="Renoir" class="form-control"/>
            <input id="likeSearch" type="button" value="Search" class="btn btn-secondary"/>
        </div>
    </div>
    <div class="input-form form-group row">
        <label for="exactSearchText" class="col-sm-3 col-form-label">Search by Exact Artist</label>
        <div class="col-sm-9 search-group">
            <input id="exactSearchText" type="text" value="Pierre Auguste Renoir" class="form-control" />
            <input id="exactSearch" type="button" value="Search" class="btn btn-secondary" />
        </div>
    </div>
    <div class="input-form form-group row">
        <label for="idSearchText" class="col-sm-3 col-form-label">View from last ID</label>
        <div class="col-sm-9 search-group">
            <input id="idSearchText" type="text" value="0" class="form-control" />
            <input id="idSearch" type="button" value="Search" class="btn btn-secondary" />
        </div>
    </div>
    <div class="input-form form-group row">
        <label for="tagSearchText" class="col-sm-3 col-form-label">Search by a single Tag</label>
        <div class="col-sm-9 search-group">
            <input id="tagSearchText" type="text" value="Cathedral" class="form-control" />
            <input id="tagSearch" type="button" value="Search" class="btn btn-secondary" />
        </div>
    </div>
    <div id="search-results">
    </div>
</div>
