@{
    ViewBag.Title = "Slideshow";
}
<div class="jumbotron">
    <h1>Slideshow</h1>
    
    <div class="input-form">
        <input id="searchByLikeArtistInput" type="text" placeholder="Search by Like Artist"/>
        <input id="searchByLikeArtistStart" type="button" value="Search by Like Artist"/>
    </div>

    <div class="input-form">
        <input id="searchByExactArtistInput" type="text" placeholder="Search by Exact Artist" />
        <input id="searchByExactArtistStart" type="button" value="Search by Exact Artist" />
    </div>

    <div class="input-form">
        <input id="scanWorksStartingAtIdInput" type="text" placeholder="Scan works starting at ID" />
        <input id="scanWorksStartingAtIdSart" type="button" value="Scan works starting at ID" />
    </div>
</div>
