@{
    ViewBag.Title = "Slideshow";
}

<script>

    function setCookie(authenticationResponse) {
        var d = new Date(authenticationResponse.expirationDate);
        var expires = "expires=" + d.toUTCString();
        document.cookie = 'token=' + encodeURIComponent(authenticationResponse.token) + ';' + expires + ";path=/";
    }

    function loadSearchResults(results) {
        var html = '';
        for (var ct = 0; ct < results.length; ct += 1) {
            html += '<div><a target="_blank" href="http://www.the-athenaeum.org/art/display_image.php?id=' + results[ct].imageId + '">' + results[ct].name + ' (' + results[ct].date + ') by ' + results[ct].artist + '</a></div>';
        }

        $('#search-results').html(html);
    }

    function isAuthenticated() {
        return document.cookie &&
            document.cookie.indexOf('token=') > -1;
    }

    function updateAuthenticationForm() {
        if (isAuthenticated()) {
            $('#login-form').hide();
            $('#authenticated-user-form').show();
        } else {
            $('#login-form').show();
            $('#authenticated-user-form').hide();
        }
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function () {

        updateAuthenticationForm();

        $('#login').click(function () {
            var url = '/api/Gallery/token?username=' + $('#username').val() + '&password=' + $('#password').val();

            fetch(url, {mode: 'cors'}).then(function(response) {
                response
                    .json()
                    .then(function (json) {
                        setCookie(json);
                        updateAuthenticationForm();
                    });
            });
        });

        $('#signout').click(function() {
            document.cookie = "token=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            updateAuthenticationForm();
        });

        $('#likeSearch').click(function () {
            var url = '/api/Gallery/searchLikeArtist?token=' + encodeURIComponent(getCookie('token')) + '&artist=' + $('#likeSearchText').val();
            fetch(url).then(function(response) {
                response
                    .json()
                    .then(function (json) {
                        loadSearchResults(json);
                    });
            });
        });

        $('#exactSearch').click(function () {
            console.log($('#exactSearchText').val());
        });

        $('#idSearch').click(function () {
            console.log($('#idSearchText').val());
        });

    });

</script>


<h1>Slideshow</h1>
    
<div class="input-form">
    <input id="likeSearchText" type="text" placeholder="Search by Like Artist" class="form-control"/>
    <input id="likeSearch" type="button" value="Search" class="btn btn-secondary"/>
</div>

<div class="input-form">
    <input id="exactSearchText" type="text" placeholder="Search by Exact Artist" class="form-control" />
    <input id="exactSearch" type="button" value="Search" class="btn btn-secondary"/>
</div>

<div class="input-form">
    <input id="idSearchText" type="text" placeholder="Search by starting ID" class="form-control" />
    <input id="idSearch" type="button" value="Search" class="btn btn-secondary" />
</div>

<div id="search-results">
</div>
