@{
    ViewBag.Title = "Slideshow";
}
<!-- JS and CSS should be moved to their own pages, because a CDN doesn't cache HTML since it's dynamic. JS and HTML are static so they can get cached and be served by the CDN. That's only possible if they are in their own pages. So even if it's one put them into a CDN. Then we can argue about efficiency of requests. Should be about 10 per page for max asynchronicity.-->
<script>

    function getImageUrl(item) {
        return 'http://www.the-athenaeum.org/art/display_image.php?id=' + item.imageId;
    }

    function loadSearchResults(results) {
        var html = '';
        html += '<div id="search-results-summary">Works of art found: ' + results.length + '</div>';
        html += '<div id="slideshow-start"><img src="/Images/Glyphicons/glyphicons-9-film.png"> Start Slideshow </div>';
        for (var ct = 0; ct < results.length; ct += 1) {
            var result = results[ct];
            html += '<div><a target="_blank" href="' + getImageUrl(result) + '" title="' + result.source + ' - ' + result.pageId + '"' + '>' +
                results[ct].name +
                ' (' + results[ct].date + ') by ' +
                results[ct].originalArtist + '</a></div>';
        }

        $('#search-results').html(html);

        $('#slideshow-start').click(function() {
            localStorage.setItem("slideshowData", JSON.stringify(results));
            localStorage.setItem("slideshowIndex", 0);
            window.location = "/Home/ImageViewer";
        });
    }

    function loadSearchResultsFromUrl(url) {
        fetch(url).then(function(response) {
            response
                .json()
                .then(function (json) {
                    loadSearchResults(json);
                });
        });
    }

    $(document).ready(function () {

        $('#likeSearch').click(function () {
            var url = '/api/Gallery/searchLikeArtist?token=' + encodeURIComponent(getCookie('token')) + '&artist=' + $('#likeSearchText').val();
            loadSearchResultsFromUrl(url);
        });

        $('#exactSearch').click(function () {
            var url = '/api/Gallery/searchExactArtist?token=' + encodeURIComponent(getCookie('token')) + '&artist=' + $('#exactSearchText').val();
            loadSearchResultsFromUrl(url);
        });

        $('#idSearch').click(function () {
            var url = '/api/Gallery/scan?token=' + encodeURIComponent(getCookie('token')) + '&lastPageId=' + $('#idSearchText').val();
            loadSearchResultsFromUrl(url);
        });

    });

</script>

<style>
    #slideshow-start
    {
        cursor: pointer;
    }
</style>

<h1>Slideshow</h1>
    
<div class="input-form">
    <input id="likeSearchText" type="text" placeholder="Search by Like Artist" class="form-control"/>
    <input id="likeSearch" type="button" value="Search" class="btn btn-secondary"/>
</div>

<div class="input-form">
    <input id="exactSearchText" type="text" placeholder="Search by Exact Artist" class="form-control" />
    <input id="exactSearch" type="button" value="Search" class="btn btn-secondary"/>
</div>

<div class="input-form">
    <input id="idSearchText" type="text" placeholder="Search by starting ID" class="form-control" />
    <input id="idSearch" type="button" value="Search" class="btn btn-secondary" />
</div>

<div id="search-results">
</div>
